<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <button onclick="history.back()">Go Back</button>
    <a href="/">Home</a>
    <h1>Your last login in {{lastlogin}} </h1>
    <h2>new song reviews posted by friends or followers:</h2>
        <table>
            <tr>
                <th>Username</th>
                <th>Song title</th>
                <th>Review Text</th>
                <th>review Date</th>
            </tr>
            {% for line in result.new_reviews.review_song %}
                <tr>
                    <td><a href="{{url_for('user_bp.get_user_detail', username = line.username)}}">{{line.username}}</a></td>
                    <td><a href="{{ url_for('song_bp.get_song_detail', songID = line.songID) }}">{{ line.title }}</a></td>
                    <td>{{ line.reviewText }}</td>
                    <td>{{ line.reviewDate }}</td>
                </tr>
            {% endfor %}
        </table>
        <h2>new album reviews posted by friends or followers:</h2>
        <table>
            <tr>
                <th>Username</th>
                <th>Album ID</th>
                <th>Review Text</th>
                <th>review Date</th>
            </tr>
            {% for line in result.new_reviews.review_album %}
                <tr>
                    <td><a href="{{url_for('user_bp.get_user_detail', username = line.username)}}">{{line.username}}</a></td>
                    <td>{{ line.albumID }}</td>
                    <td>{{ line.reviewText }}</td>
                    <td>{{ line.reviewDate }}</td>
                </tr>
            {% endfor %}
        </table>
        <h2>new songs posted by artists:</h2>
        <table>
            <tr>
                <th>Song title</th>
                <th>Release Date</th>
                <th>Artist ID</th>
                <th>Artist First Name</th>
                <th>Artist Last Name</th>
            </tr>
            {% for line in result.new_songs %}
                <tr>
                    <td><a href="{{ url_for('song_bp.get_song_detail', songID = line.songID) }}">{{ line.title }}</a></td>
                    <td>{{ line.releaseDate }}</td>
                    <td><a href="{{url_for('artist_bp.get_artist_detail', artistID = line.artistID)}}">{{line.artistID}}</a></td>
                    <td>{{ line.fname }}</td>
                    <td>{{ line.lname }}</td>
                </tr>
            {% endfor %}
        </table>
</body>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
</style>
</html>