<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <button onclick="history.back()">Go Back</button>
    <a href="/">Home</a>
    <h2>user details:</h2>

<table>
    <tr>
        <th>Username</th>
        <td>{{user_detail.username}}</td>
    </tr>
    <tr>
        <th>User First Name</th>
        <td>{{user_detail.fname}}</td>
    </tr>
    <tr>
        <th>User Last Name</th>
        <td>{{user_detail.lname}}</td>
    </tr>
    <tr>
        <th>User Nickname</th>
        <td>{{user_detail.nickname if user_detail.nickname else "" }}</td>
    </tr>



    {% if user and user.username != user_detail.username %}
        <tr>
            <th>You are friends</th>
            <td>
                {{ user.friend_status }}
            </td>
        </tr>
        <tr>
            <th>This user is your follower</th>
            <td>
            {{ user.follower_status }}
            </td>
        </tr>
        <tr>
            <th>You are following this user</th>
            <td>
                {{ user.follows_status }}
            </td>
        </tr>

</table>
<br>
{% if user.friend_status == False %}
    <form action="/friendRequest" method="POST">
        Send a friend request:
        <input type="hidden" name="sender" value ="{{ user.username }}" />
        <input type="hidden" name="receiver" value="{{ user_detail.username }}"/>
        <input type="submit" value= request />
    </form>
{% endif %}
{% if user.follows_status == False %}
    <form action="/followRequest" method="POST">
        Follow this user:
        <input type="hidden" name="sender" value ="{{ user.username }}" />
        <input type="hidden" name="receiver" value="{{ user_detail.username }}"/>
        <input type="submit" value= follow />
    </form>
    {% else %}
    <form action="/unfollowRequest" method="POST">
        Unfollow this user:
        <input type="hidden" name="sender" value ="{{ user.username }}" />
        <input type="hidden" name="receiver" value="{{ user_detail.username }}"/>
        <input type="submit" value= unfollow />
    </form>
{% endif %}
    {% if info %}
		<p class="request_info"> {{info}}</p>
	{% endif %}
{% endif %}

{% if not user %}
    <h3>Log in and follow this user or become friends !</h3>
{% endif %}
</body>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
</style>


</html>